body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 5000px;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}
section {
    width: 400px;
    background-color: #0e2e62;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1rem 0;
    box-shadow: 0 10px 40px -20px #000;
    margin-block: 15vh;
    position: relative;
}
.t-header {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px 25px 0 0;
}
.t-header p {
    color: #0e2e62;
    padding: 0;
    margin: 0;
}
.content.horizontal {
    padding: 1rem .5rem 2rem;
    height: 100%;
}
.content.verticle {
    padding: 1rem .5rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content.horizontal .stat-container {
    width: calc(100% - 2rem);
    padding: 0.2rem 1rem;
}
.content.verticle .stat-container {
    width: auto;
    padding: 0.2rem .5rem;
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
    height: 200px;
}
.verticle .stat-sub-heading {
    width: 100%;
}
.stat-container p, .stat-sub-heading p {
    padding: .3rem;
    margin: 0;
    color: #fff;
    position: relative;
}
.stat-sub-heading p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    scale: 1;
    height: 1px;
    background-image: linear-gradient(90deg, #fffa 60%, #0000 90%);
    
}
.bar {
    height: 1px;
    background-color: green;
    margin: 1px;
    border: solid 1px #fff6;
    box-shadow: 0 5px 5px -5px #000;
    border-radius: 10px;
    transform-origin: left;
    background-image: linear-gradient(90deg, red 50px, orange 150px, green 350px);
    animation-name: grow;
}
.verticle .bar {
    width: 1px;
    height: 100%;
    background-image: linear-gradient(180deg, red 50px, orange 150px, green 350px);
    transform-origin: bottom;
    animation-name: grow-v;
}
.animate {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-timeline: view(70vh -10vh);

}
/* .animate.horizontal {
    transform: scaleX(1);
}
.animate.bar.verticle {
    transform: scaleY(1);
} */
.stat-desc {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.content.verticle .stat-desc {
 flex-direction: column-reverse;
 height: 100%;
 justify-content: flex-start;
}
.stat-num {
    font-size: small;
    animation-name: grow-2;
}
.content.horizontal .w-90  {
    width: 90%;
}
.content.horizontal .w-80  {
    width: 80%;
}

.content.horizontal .w-70  {
    width: 70%;
}
.content.horizontal .w-60  {
    width: 60%;
}
.content.horizontal .w-50  {
    width: 50%;
}
.content.horizontal .w-20 {
    width: 20%;
}
.content.verticle .h-90 .bar {
    height: 90%;
}
.content.verticle .h-80 .bar {
    height: 80%;
}

.content.verticle .h-70 .bar {
    height: 70%;
}
.content.verticle .h-60 .bar{
    height: 60%;
}
.content.verticle .h-50 .bar{
    height: 50%;
}
.content.verticle .h-20 .bar{
    height: 20%;
}

@keyframes grow {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
@keyframes grow-v {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
@keyframes grow-2 {
    from {
        transform: scale(.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}